[Unit]
Description=Radio LCD Driver
After=mpd.service

[Service]
Type=simple
WorkingDirectory=/usr/local/lib/radio-lcd
ExecStart=/usr/bin/perl /usr/local/lib/radio-lcd/driver

[Install]
WantedBy=multi-user.target
