[Unit]
Description=Radio LCD Driver
After=mpd.service

[Service]
Type=simple
ExecStart=perl -I /home/radio/radio-lcd /home/radio/radio-lcd/driver

[Install]
WantedBy=multi-user.target
